Repository yungyuc/nsdhw_25au, pull requests merged in 2025-09, with the labels that each got.

#4 Herafoid hw0 attempt1
  hw0/herafoid/countline.py
Labels: hw0

#8 heyvrann-hw0-attempt3
  hw0/heyvrann/countline.py
Labels: hw0

#13 Kailiao hw0 attempt1
  hw0/Kailiao0727/countline.py
Labels: hw0

#16 HW0 by yitzu1022
  hw0/yitzu1022/countline.py
Labels: hw0

#14 second commit for hw0
  hw0/Linkenreefefedas/countline.py
Labels: hw0

#15 Kailiao0727 hw1 attempt1
  hw1/Kailiao0727/countline.py
  hw1/Kailiao0727/countline.sh
Labels: hw1

#17 hw1 by mizu5555
  hw1/mizu5555/countline.py
  hw1/mizu5555/countline.sh
Labels: hw1

#19 HW1: add my ans
  hw1/yitzu1022/countline.py
  hw1/yitzu1022/countline.sh
Labels: hw1

#22 Hikaru-shih-hw0-attempt1
  hw0/Hikaru-shih/countline.py
Labels: hw0

#25 Create countline.py
  hw0/Kuishinboy987/countline.py
Labels: hw0

#24 Complete hw1: (5/5 points)
  hw1/Duck997/countline.py
  hw1/Duck997/countline.sh
Labels: hw1

#26 Add hw1 submission (wei0107)
  hw1/wei0107/countline.py
  hw1/wei0107/countline.sh
Labels: hw1

#30 HW1 submission by 3829penguin
  hw1/3829penguin/countline.py
  hw1/3829penguin/countline.sh
Labels: hw1

#31 HW1 by tonytonytonytony029
  hw1/tonytonytonytony029/countline.py
  hw1/tonytonytonytony029/countline.sh
Labels: hw1

#34 Kuishinboy987 hw1 attempt1
  hw1/Kuishinboy987/countline.py
  hw1/Kuishinboy987/countline.sh
Labels: hw1

#36 Allenwang2004 - HW1 Submission
  hw1/Allenwang2004/countline.py
  hw1/Allenwang2004/countline.sh
Labels: hw1

#38 Ren yi wang david hw0 attempt1
  hw0/ren-yi-wang-david/countline.py
Labels: hw0

#37 Linkenreefefedas proposal on CNDA
  project/Linkenreefefedas/README.rst
  project/README.rst
Labels: project

#43 lnfu proposal on death
  project/README.rst
  project/lnfu/README.rst
Labels: project

#63 wei0107 HW2: Q1 + Q2 implementation attempt 2
  hw2/wei0107/q1/Makefile
  hw2/wei0107/q1/line.hpp
  hw2/wei0107/q1/main.cpp
  hw2/wei0107/q2/Makefile
  hw2/wei0107/q2/angle.hpp
  hw2/wei0107/q2/pybind_module.cpp
  hw2/wei0107/q2/test_angle.py
Labels: hw2

#65 First commit for hw2 by Linkenreefefedas
  hw2/Linkenreefefedas/q1/Line.cpp
  hw2/Linkenreefefedas/q1/Line.hpp
  hw2/Linkenreefefedas/q1/Makefile
  hw2/Linkenreefefedas/q1/main.cpp
  hw2/Linkenreefefedas/q2/Makefile
  hw2/Linkenreefefedas/q2/angle.hpp
  hw2/Linkenreefefedas/q2/pybind_module.cpp
  hw2/Linkenreefefedas/q2/test_angle.py
Labels: hw2

#59 Duck997 proposal on VLSIGR
  project/Duck997/README.rst
  project/README.rst
Labels: project

#82 HW2-attempt
  hw2/Allenwang2004/q1/Makefile
  hw2/Allenwang2004/q1/main
  hw2/Allenwang2004/q1/main.cpp
  hw2/Allenwang2004/q1/main.o
  hw2/Allenwang2004/q2/Makefile
  hw2/Allenwang2004/q2/setup.py
  hw2/Allenwang2004/q2/test_vector.py
  hw2/Allenwang2004/q2/vector.cpp
Labels: hw2

#80 Add hw2 submission
  hw2/ren-yi-wang-david/q1/line.cpp
  hw2/ren-yi-wang-david/q1/line.hpp
  hw2/ren-yi-wang-david/q1/main.cpp
  hw2/ren-yi-wang-david/q1/makefile
  hw2/ren-yi-wang-david/q2/binding.cpp
  hw2/ren-yi-wang-david/q2/makefile
  hw2/ren-yi-wang-david/q2/test_rad.py
  hw2/ren-yi-wang-david/q2/vector.cpp
  hw2/ren-yi-wang-david/q2/vector.hpp
Labels: hw2

#48 Allenwang2004 proposal on ADMM
  project/Allenwang2004/README.rst
  project/README.rst
Labels: project

#55 Kuishinboy987 proposal on R-tree
  project/Kuishinboy987/README.rst
  project/README.rst
Labels: project
